@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;500;700;800&display=swap');
@import '~antd/dist/antd.less';

#Home{
    background-size: cover;
    background-color: #fafafa;
    background-image: url(./assets/main-bg.svg);
    background-repeat: no-repeat;
    background-position: left;
    height: 100vh;
    .ant-col{
        background-color: #FFF;
        height: 100vh;
        display: flex;
        align-items: center;
        box-shadow: 1px 0px 8px #0000006b;
        .ant-card{
            width: 100%;
            .ant-card-body{
                padding: 42px;
                .ant-typography{
                    color:#29125f;
                    font-weight: 800;
                    font-size: 34px;
                }
            }
        }
    }
}